<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head (title = 'Products overview')"></head>
<body>
    <header th:replace="fragments/header :: header (current = 'Products overview')"></header>

    <main>
        <h1>Team 15</h1>

        <span th:text="${error}"></span>

        <h2>Products overview</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product:${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.stock}"></td>
                    <td><a th:href="@{/updateProduct/{id}(id=${product.id})}">Update</a></td>
                    <td><a th:href="@{/deleteProduct/{id}(id=${product.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>